body {
	color: yellow;
	background-image: url("../images/star-background.jpg");
	text-align: center;
}

.panel-star {
	background-color: transparent;
	border-color: yellow;
}
.panel-default > .panel-heading {
	color: yellow;
	background-color: transparent;
	border-color: yellow;
}

input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid black;
    }

input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: yellow;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid yellow;
    }